[Unit]
Description=Batch Job Queue Scheduler Timer
Requires=batch-job-queue-scheduler.service

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target

