[Unit]
Description=Contact Phase Summary Sync Timer (Monthly)
Requires=contact-phase-summary-monthly-sync.service

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target

