[Unit]
Description=Purchase Achievements Sync Timer
Requires=purchase-achievements-sync.service

[Timer]
OnCalendar=daily
OnCalendar=*-*-* 03:00:00
Persistent=true

[Install]
WantedBy=timers.target



